@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-underline {
  display: inline-block;
  position: relative;
  color: #fff;
  width: 100%;
  height: 3px;
  bottom: 10px;
  left: 0;
  background-color: #fff;
}

.nav-underline-2 {
  display: inline-block;
  position: relative;
  color: #fff;
  width: 100%;
  height: 3px;
  bottom: -15px;
  left: 0;
  background-color: #fff;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #fff;
  opacity: 50%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation-2 {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation-2::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -35px;
  left: 0;
  background-color: #fff;
  opacity: 50%;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}